<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries> <!-- 允许程序监视、修改或放弃拨打电话 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.Manifest.permission.READ_CONTACTS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    
    <permission
        android:name="com.swein.androidkotlintool.permission.CUSTOM_RECEIVER"
        android:protectionLevel="normal" />
    
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".main.examples.conceptanimationexample.ConceptPageExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.switchtwoviews.SwitchTwoViewsExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.dragindicatorexample.DragIndicatorExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.lottieexample.LottieExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.pdfreader.PDFReaderActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".main.examples.backgroundrunningwhitelist.BackgroundRunningWhiteListActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.examples.recyclerviewheaderfooter.RecyclerViewWithHeaderAndFooterExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.instagreamlike.IGLikeListActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.rotatingcirclemenu.RotatingCircleMenuExampleActivity"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".main.examples.recyclerviewwaterfall.RecyclerViewWaterfallExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.googleadmobexample.AdmobNativeExampleActivity"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".main.examples.googleadmobexample.AdmobRewardedExampleActivity"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".main.examples.googleadmobexample.AdmobInterstitialExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.googleadmobexample.AdmobBannerExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.googleadmobexample.GoogleAdmobExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.email.SendEmailExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.patternlockexample.PatternLockExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.multiplebackstack.MultipleBackStackExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.googlemapexample.GoogleMapExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.inpersonsigning.InPersonSigningActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.alarmmanager.demo.AlarmDemoActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.customintentexample.CustomIntentExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.broadcastexample.BroadcastExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.notificationexample.NotificationExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.alarmmanager.AlarmManagerExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.regularexpression.RegularExpressionExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.sensorexample.light.LightSensorExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.sensorexample.SensorExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.overlapviewexample.OverLapViewActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.scenetransitionanimationexample.detail.SceneTransitionAnimationDetailExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.scenetransitionanimationexample.SceneTransitionAnimationExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.systemuivisibility.SystemUIVisibilityActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.customtablayoutexample.CustomTabLayoutExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.ktorexample.KtorExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.shapeableimageviewexample.ShapeAbleImageViewExampleActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.grouprecyclerview.GroupRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".framework.module.firebase.pagination.FirebasePaginationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".main.examples.youtubeplayer.YoutubePlayerExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.customschedule.CustomScheduleExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.pagingexample.PagingExampleActivity"
            android:exported="true" />
        <activity
            android:name=".framework.module.firebase.storage.demo.FirebaseStorageActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.callbacktocoroutine.CallbackToCoroutineActivity"
            android:exported="true" />
        <activity
            android:name=".framework.module.firebase.cloudfirestore.demo.CloudFireStoreDemoActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.htmleditorexample.HtmlEditorExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.exoplayerexample.ExoPlayerExampleActivity"
            android:configChanges="orientation|keyboard|layoutDirection|screenSize"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.examples.unityadsexample.UnityAdsExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.recyclerviewwithslide.RecyclerViewWithSlideActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.systemphotopicker.SystemPhotoPickerExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.systemphotoandcrop.SystemPhotoAndCropExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.flowexample.FlowExampleSubActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.floweventcenterexample.demo.FlowEventExampleSecondActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.floweventcenterexample.demo.FlowEventExampleFirstActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.flowexample.FlowExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.firebaseauth.phone.FirebaseAuthPhoneActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.otpverificationcodeview.OTPVerificationCodeViewExampleActivity"
            android:exported="true" />
        <activity android:name=".main.examples.webview.WebViewExampleActivity" />
        <activity
            android:name=".main.examples.multipleselectionrecyclerview.MultipleSelectionRecyclerViewExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.multipleviewtypesrecyclerview.MultipleViewTypesRecyclerViewExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.circlemenu.CircleMenuExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.infinityautoscrollpaddingbanner.InfinityAutoScrollPaddingBannerExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.livedata.networkstatemonitor.NetworkStateMonitorActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.arcslidingmenu.ArcSlidingMenuActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.materialdesigntutorial.dayseven.MDDaySevenActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.materialdesigntutorial.daysix.MDDaySixActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.materialdesigntutorial.dayfive.MDDayFiveActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.materialdesigntutorial.dayfour.MDDayFourActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.chartexample.ChartExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.materialdesigntutorial.daythree.MDDayThreeActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.materialdesigntutorial.daytwo.MDDayTwoActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.materialdesigntutorial.dayone.MDDayOneActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.coordinatorlayoutexample.CoordinatorLayoutExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.materialdesignbottombar.MaterialDesignBottomBarExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.customanimation.CustomAnimationExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.customview.CustomViewExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.mvvmrecyclerviewexample.MVVMRecyclerViewExampleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".main.examples.viewmodel.ViewModelNewTestActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.viewmodel.ViewModelDemoActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.livedata.LiveDataDemoActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.workmanager.WorkManagerDemoActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.androiddatastorage.AndroidDataStorageExampleActivity"
            android:exported="true" />
        <activity
            android:name=".framework.module.room.example.RoomWithCoroutineAndStartUPExampleActivity"
            android:exported="true" />
        <activity
            android:name=".framework.module.room.demo.RoomDemoActivity"
            android:exported="true" />
        <activity
            android:name=".framework.module.location.demo.LocationWithLifecycleDemoActivity"
            android:exported="true" />
        <activity
            android:name=".framework.module.location.demo.LocationDemoActivity"
            android:exported="true" />
        <activity
            android:name=".framework.module.firebase.demo.FirebaseDemoActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.permissionexample.PermissionExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.jetpackexample.lifecycle.LifecycleExampleActivity"
            android:exported="true" />
        <activity
            android:name=".main.jetpackexample.viewbinding.ViewBindingExampleActivity"
            android:exported="true" />
        <activity
            android:name=".template.coroutine.BaseCoroutineActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.customizecolorswitch.CustomizeColorSwitchActivity"
            android:exported="true" />
        <activity
            android:name=".template.coroutine.CoroutineDemoActivity"
            android:exported="true" />
        <activity
            android:name=".main.examples.fashionshoppingdetail.FashionShoppingDetailActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".template.mvp.mvploginexample.view.MVPLoginActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".template.blurmask.BlurMaskActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".framework.module.shcameraphoto.demo.SHCameraPhotoFragmentDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".framework.module.camerademo.CameraDemoActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".template.handlerthread.HandlerThreadTemplateActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.moduledemo.ModuleDemoActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".template.bottomtab.activity.TabHostActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".template.list.SHListActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".template.memeberjoin.MemberJoinTemplateActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
    
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            tools:ignore="Instantiatable" />
        
        <receiver
            android:name=".framework.utility.shortcut.ShortcutReceiver"
            android:exported="false" />
        
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- FileProvider used to share photos with other apps -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
    
            <!-- This entry makes ExampleLoggerInitializer discoverable. -->
            <meta-data
                android:name="com.swein.androidkotlintool.main.jetpackexample.appstartup.AppStartUpExample"
                android:value="androidx.startup" />
    
            <!-- if you don't need -->
            <!-- <meta-data -->
            <!-- android:name="com.swein.androidkotlintool.main.examples.appstartup.AppStartUpExample" -->
            <!-- tools:node="remove" -->
            <!-- /> -->
        </provider>
        
        <service
            android:name=".framework.module.location.service.LocationService"
            android:enabled="true"
            android:exported="false" />
        
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDpd24M4rk8wPiaLeUlIBxF4Cwjd74ht2k" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        
        <receiver
            android:name=".main.examples.broadcastexample.BroadcastReceiverExample"
            android:exported="true"
            android:permission="com.swein.androidkotlintool.permission.CUSTOM_RECEIVER">
            <intent-filter>
                <action android:name="com.swein.broadcast.passdata" />
            </intent-filter>
        </receiver>
    </application>

</manifest>